/* Variables */

:root {
  --gap: 20px;
  --border: 1px dashed;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #9ad79b;
  z-index: 0;
}

header {
  position: sticky;
  top: 0;
  background-color: black;
  margin-bottom: var(--gap);
  padding: var(--gap);
  border: var(--border);
  z-index: 1;
}

.content {
  margin-top: var(--gap);
  padding: var(--gap);
  border: var(--border);
}

.sidebar {
  float: right;
  margin: var(--gap);
  padding: var(--gap);
  border: var(--border);
}

.features {
  clear: both;
  border: var(--border);
  text-align: center;
  padding: var(--gap);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 20%;
  text-align: center;
}

footer p {
  border: var(--border);
  margin-bottom: 0;
  padding: var(--gap);
}
